/* SHARED */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&display=swap');
:root {
  --main-color: #1abc9c
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Montserrat', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-color {
  background-color: var(--main-color)
}
.secondaryColor {
  color: #2c3e50 !important;
}

/* SECTION */
.pageSection {
  padding: 6rem 0;
}

.sectionHeading {
  font-size: 3rem;
  line-height: 2.5rem;
}

.line {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
}

.hrLine {
  width: 7rem;
  border-bottom: 0.25rem solid;
  border-radius: 1rem;
}

.hrLine:first-child {
  margin-right: 15px;
}

.hrLine:last-child {
  margin-left: 15px;
}

.faStar {
  font-size: 2rem;
}

/* NAVBAR */
.navbar-toggler:focus{
  border: none !important;
} 
.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: 700;
}

.navbar-nav a {
  font-size: 1.15rem;
  font-weight: 700;
}

.nav-link:hover {
  color: var(--main-color) !important;
}

.bg-secondaryColor {
  background-color: #2c3e50 !important;
}

.transition {
  transition: padding 0.3s ease;
}

.active {
  background-color: var(--main-color);
  color: white ;
}
.active:hover{
  color: white !important;
}

/* CONTACT */

.center .inputbox {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom:1px solid #ccc;
}
.center .inputbox input , .center .inputbox textarea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.7rem;
  resize: none;
}
.center .inputbox:last-child {
  margin-bottom: 0;
  border: none;
}
.center .inputbox span {
  position: absolute;
  top: 14px;
  left: 20px;
  transition: 0.6s;
  opacity: 0;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span
,.center .inputbox textarea:focus ~ span,
.center .inputbox textarea:valid ~ span 
{
  opacity: 1;
  transform: translateX(-18px) translateY(-37px);
  color: var(--main-color);
  font-size: 1.2rem;
}

.center .inputbox button {
  background: var(--main-color);
}
.btn{
  background-color: var(--main-color) !important;
}
.btn:hover{
  background-color:#17ae90 !important;
}

.fa-arrow-up{
  /* position: absolute; */
  bottom: 0;
    right: 10px;
    padding: 15px;
    color: white;
    font-size: x-large;
    margin: 5px;
    border-radius: 13px;
    background-color: rgba(33, 37, 41, 0.5);
  transition: all 0.3s;

}

.fa-arrow-up:hover{
  background-color: rgba(4, 5, 5, 0.6);
}
.back-to-top {
  display: none;
  /* background-color: var(--main-color); */
  right: 15px;
  bottom: 15px;
  transition: all 0.5s;
  z-index: 999;
}